<!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <title>hello-backbonejs</title>
  </head>
  <body>
  	<script type="text/template" id="item-template">    
    <span style="color:black;"><%= part1 %> <%= part2 %></span>  <span class="swap" style="font-family:sans-serif; color:blue; cursor:pointer;">[swap]</span> <span class="delete" style="cursor:pointer; color:red; font-family:sans-serif;">[delete]</span>
  </script>
<script type="text/javascript" src="../../require.js"></script>
<script type="text/javascript" src="backbone_test.js"></script>

  </body>
  </html>